@import '../../styles/variables';

.select-radio {
  height: auto;
  display: grid;
  align-items: center;
  grid-row-gap: 5px;
  > ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    place-items: center;
    > li {
      display: grid;
      place-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      &[data-selected="true"] {
        background-color: $color-main-light;
      }
    }
  }
}