$color-main: #009688;
$color-main-dark: #00796B;
$color-main-light: #B2DFDB;
$color-accent: #536DFE;
$color-text: #212121;
$color-text-secondary: #757575;
$color-text-icon: #FFFFFF;
$color-divider: #BDBDBD;
$color-background: #eeeeee;

$speed-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);

$shadow: 0 2px 6px rgba(0,0,0,.2);